:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 100;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center start;
  min-width: 320px;
  min-height: 30vh;
}

h1 {
  font-size: 3.2em;
  line-height:1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #0f0909;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #171414;
  }
}
#root {
  max-width: 1280;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.logo {
  height: 3em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.card{
  margin: 10px;
  padding: 10px;
  background-color: lightblue;
}

.card :hover {
  color: #ef5a5a;
}
.profile{
  border-radius: 10px;
}
.container1{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  
}
/* .ContactForm{
  margin: 10px;
  padding: 10px;
} */
.col-6{
  padding: 5px;
}
.test{
  padding: 5px;
}
.ContactForm{
  border: 1px solid wheat;
  margin: 2px;
  padding: 2px;
  width: 300px;
}
